body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2.5fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #06D6A0;
    font-family: andale mono, monospace;
}

.header{
    font-size: 5rem;
    align-self: end;
}

.status{
    font-size: 2rem;
    height: 20%;
}

.gameboard{
    background-color: 06D6A0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    height: 35rem;
    width: 35rem;
    border-radius: 5px;
}

.cell:hover {
    cursor: pointer;
}

.cell{
    background-color: #FFD166;
    border-radius: 5px;
}

.cell div{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 900%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new{
    background-color: #073B4C;
    width: 35rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    align-self: center;

}

.new:hover{
    color: #073B4C;
    border-color: #073B4C;
    background-color: white;
    cursor: pointer;
}